@page "/bankingaccounts"
@using BankingClient.Pages.ChildrenPages

@inherits BaseBankingAccounts




@if (_UserState.IsLoggedIn == true)
{
    <div class="container ml-1 col-5"> 
        <h2>Banking Accounts Workbook</h2>
        <br />
        <div class="input-group">
            <input class="form-control" type="text" placeholder="search" @bind-value="@_SearchTextValue" @onkeydown="@EnableGoButton"/>
            <div class="input-group-append">
                <select @onchange="@SetSelectedOption">
                    @foreach (var item in _SearchOptions)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <button class="btn btn-success" disabled="@_GoButtonIsDisabled" type="button" style="margin-left:3px" @onclick="SearchAccount">Go</button>
                <button class="btn btn-success" @onclick="@GetAllAccounts" disabled="@_GetAllButtonIsDisabled" type="button" style="margin-left:3px">Get All</button>
                <button class="btn btn-danger" @onclick="@ResetTable" disabled="@_ResetButtonIsDisabled" type="button" style="margin-left:3px">Reset</button>
            </div>
        </div>
        <p/>
        <TableEntryCount TableCount="@_BankingAccountStore.Blob.Length"></TableEntryCount>
    </div>
    <p/>
    <div class="container ml-1 col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Active</th>
                </tr>
            </thead>
            @if(_BankingAccountStore.Blob.Length >0 && _BankingAccountStore.Blob.FirstOrDefault() != null)
            {
            <tbody>
                
                   @foreach(var account in _BankingAccountStore.Blob)
                    {
                    <tr @onclick="@(a => ShowAccountDetails(account))">
                      <td>@account._id</td>
                      <td>@account.firstname</td>
                      <td>@account.lastname</td>
                      <td>@account.isActive</td>
                    </tr>
                    }
                
            </tbody>
            }
            else
            {
                
            }
        </table>
    </div>
    if(_ShowDetails == true)
    {
      <ViewAccountDetails Account="@_Account" ShowDetailAccountview="@CloseAccountDetails"></ViewAccountDetails>
    }

}
else
{
<div class="alert alert-danger" style="margin-top:25px">
    <strong>Login Required</strong> You are not logged in. You must <a href="login">login</a> or <a href="register">register</a> an account
</div>
}



