@page "/bankingaccounts"
@using BankingClient.Pages.ChildrenPages


@inherits BaseBankingAccounts




@if (_UserState.IsLoggedIn == true)
{
    <div class="container ml-1 col-6"> 
        <h2>Banking Accounts Workbook</h2>
        <br />
        <div class="input-group">
            <input class="form-control" type="text" placeholder="search by" @bind-value="@_SearchTextValue" @onkeydown="@EnableGoButton" />
            <div class="input-group-append">
                <select class="custom-select" @onchange="@SetSelectedOption">
                    @foreach (var item in _SearchOptions)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <div class="input-group-append">
                    <div class="btn-group">
                        <button class="btn btn-outline-success" @ref="GoButton" @attributes="@_ButtonAttributes" @onclick="SearchAccount">Go</button>
                        <button class="btn btn-outline-success" @ref="AllButton" @attributes="@_ButtonAttributes" @onclick="@GetAllAccounts">All</button>
                        <button class="btn btn-outline-danger" @ref="ResetButton" @attributes="@_ButtonAttributes" @onclick="@ResetTable">Reset</button>
                        <button class="btn btn-outline-info" style="margin-left:10px; width:200px" @onclick="@GotoNewAccount">New Account</button>
                    </div>
                </div>
            </div>
        </div>
        <p/>
        <div class="custom-control-inline">
            <TableEntryCount TableCount="@_BankingAccountStore.Blob.Length"></TableEntryCount>
        </div>
        
    </div>
    <p/>
    <div class="container ml-1 col-8">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>ID <span style="opacity:0.5" id="headerId" class="oi oi-sort-ascending" @onclick="@((args) => OnSortClick("headerId"))" aria-hidden="true"></span></th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            @if (_BankingAccountStore.Blob.Length > 0 && _BankingAccountStore.Blob.FirstOrDefault() != null)
            {
                <tbody>

                    @foreach (var account in _BankingAccountStore.Blob)
                    {
                        <tr>
                            <td>@account._id</td>
                            <td>@account.firstname</td>
                            <td>@account.lastname</td>
                            <td>@account.isActive</td>
                            <td>
                                <button class="btn btn-outline-primary" @onclick="@(a => EditAccount(account))">Edit</button>
                                <button class="btn btn-outline-info" @onclick="@(a => ShowAccountDetails(account))">More</button>
                            </td>
                        </tr>
                    }

                </tbody>
            }
            else
            {

            }
        </table>
        @if(_EditButtonClicked == true)
        {
       
            <EditAccount AccountToUpdate="@_UpdateAccount" updateManager="@ManagerEdit"></EditAccount>
        
        }
    </div>
        
        if(_ShowDetails == true)
        {
        <ViewAccountDetails Account="@_Account" ShowDetailAccountview="@CloseAccountDetails"></ViewAccountDetails>
        }

        }
        else
        {
        <div class="alert alert-danger" style="margin-top:25px">
            <strong>Login Required</strong> You are not logged in. You must <a href="login">login</a> or <a href="register">register</a> an account
        </div>
        }

                            




