@page "/bankingaccounts"
@using BankingClient.Pages.ChildrenPages

@inherits BaseBankingAccounts



<h1>Banking Accounts</h1>

<p>This component demonstrates fetching data from the BankingApi.</p>

@if (Accounts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="input-group mb-3 col-sm-6">
        <input type="text" class="form-control" placeholder="Search" @bind="@Value" />
        <div class="input-group-append">
            <button class="btn btn-success" type="button" @onclick="@SearchValue" style="margin-left: 5px">Go</button>
            <button class="btn btn-danger" @attributes="@ButtonResetDictionary" type="button" @onclick="@ResetTable" style="margin-left: 5px">Reset</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Accounts)
            {
                <tr @onclick="@(e => ViewAccountDetails(account))">
                    <td>@account._id</td>
                    <td>@account.firstname</td>
                    <td>@account.lastname</td>
                    <td>@account.isActive</td>
                </tr>
            }
        </tbody>
    </table>
    <TableEntryCount TableCount="@Count"></TableEntryCount>

    if (IsTableRowClicked)
    {

        <ViewAccountDetails Account="@TableRowAccount" ShowDetailAccountview="ShowAccountDetails"></ViewAccountDetails>
    }



}
